body {
    background-color:beige;
    font-family:Calibri;
    padding:2%;
}

header {
    font-size:2em;
    text-align:center;
    width:100%;
    color:#ff6a00;
    font-weight:bold;
}

span {
    color:green;
    padding-left:5%;
}